// Toán tử số học
//toán tử so sánh
//toán tử lý luận

//câu lệnh rẽ nhánh

// $a: 9;
// @if $a >= 10 {
//     .box {
//         padding: 30px;
//     }
// } @else {
//     .box {
//         width: 100%;
//     }
// }

// vòng lặp
// @for $i from 1 to 10 {
//     @if $i % 2 == 0 {
//         .box-#{$i} {
//             width: $i * 10px;
//         }
//     }
// }

// $sizes: 40px 60px 80px 100px; //List
// @each $size in $sizes {
//     .box-#{$size} {
//         width: $size * 2;
//     }
// }

// $sizes: (small 40px 300), (medium 80px 600), (large 100px 700);
// @each $name, $size, $weight in $sizes {
//     .box-#{$name} {
//         font-size: $size;
//         font-weight: $weight;
//     }
// }

// map
$sizes: (
    small: 40px,
    medium: 80px,
    large: 100px,
);
@each $name, $size in $sizes {
    .box-#{$name} {
        font-size: $size;
    }

}

//ứng dụng vòng lặp, câu lệnh rẽ nhánh
// 
