* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    width: 600px;
    margin: 30px auto;
    border: 1px solid red;
}

.box h1 {
    transition-property: padding-left, color, font-size;
    transition-duration: 1s;
    transition-delay: 1s;
}

.box:hover h1 {
    padding-left: 200px;
    color: green;
    font-size: 3rem;
}
