.content {
    display: none;
}

input:checked + .content {
    display: block;
}

.red:checked ~ .content,
.red:checked ~ .lbl-red {
    color: red;
}

.green:checked ~ .content,
.green:checked ~ .lbl-green {
    color: green;
}

.blue:checked ~ .content,
.blue:checked ~ .lbl-blue {
    color: blue;
}
