.box {
    width: 0;
    height: 0;
    border: 50px solid;
    border-color: green red yellow blue;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;

}
