* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    padding: 30px;
}

label {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 40px;
    background-color: grey;
    border-radius: 999px;
    position: relative;
    overflow: hidden;
}

.btn {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    left: 1px;
    transition: left 0.3s;
    z-index: 1;
}

input:checked + .btn {
    left: calc(100% - 41px);
}
.bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background 0.3s;
}

input:checked ~ .bg {
    background: green;
}
