* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 15px 15px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    margin-left: auto;
}
.menu a {
    padding: 8px 21px;
    color: black;
    font-size: 15px;
    text-decoration: none;
}
.menu ul {
    display: flex;
}

.menu ul li {
    list-style: none;
    color: black;
}

button {
    padding: 5px 0;
    color: white;
    background-color: aqua;
    border: none;
    width: 120px;
    border-radius: 999px;
    font-size: 15px;
    font-weight: bold;
}

@media screen and (max-width: 991.98px) {
    .menu {
        display: block;
        position: fixed;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: red;
        top: 0;
        left: 0;
        bottom: 0;
    }

    .icon {
        width: 20px;
        display: block;
    }
    .icon span {
        height: 3px;
        background-color: #333;
        margin: 3px 0;
        border-radius: 999px;
        display: block;
    }

    button {
        margin-left: auto;
        margin-right: 10px;
    }
}

@media screen and (max-width: 767.98px) {
    button {
        display: none;
    }
}

@media screen and (max-width: 610px) {
    .menu {
        display: flex;
    }
}
